.nextfrawh2 {
  font-family: "Ropa Sans";
  font-size: 25px;
  font-weight: 600;
}
.nextdrawspan {
  font-family: "Ropa Sans";
  font-size: 20px;
  font-weight: 600;
}
.nextspan {
  font-family: "Ropa Sans";
  font-size: 18px;
  font-weight: 500;
}
.nextspanone {
  font-family: "Ropa Sans";
  font-size: 16px;
  font-weight: 500;
}
