.nextfrawh2{
    font-family: 'Ropa Sans';
    font-size: 35px;
    font-weight: 600;
}
.nextdrawspan{
    font-family: 'Ropa Sans';
    font-size: 28px;
    font-weight: 600;
}
.nextspan{
    font-family: 'Ropa Sans';
    font-size: 24px;
    font-weight: 500;
}
.nextspanone{
    font-family: 'Ropa Sans';
    font-size: 22px;
    font-weight: 500;
}