@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

.buyTicketBoxClass,
.buyTicketBoxMiniClassic {
  min-height: 414px;
}
.buyTicketBoxClass {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buyTicketBoxMiniClassic {
  background-color: #e2e2e2;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buyTicketBoxClassic {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.buyTicketBoxClassic1 {
  background: #f0b90b;
}
.buyTicketBoxClassic2 {
  background: #b49ef2;
}
.buyTicketBoxClassic3 {
  background: #37a93b;
}

.buyTicketBoxMini {
  background-color: #e2e2e2;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 5px; */
}

.buyTicketBox-button {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.buyTicketBox-button-connect {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  padding: 5px 0px 5px 0px;
}
.buyTicketBox-button-trensparent {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.buyTicketSpan {
  font-family: "Ropa Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  text-align: left;
  /* padding-top: 30px; */
}

.buyTicketSpanone {
  font-family: "Ropa Sans";
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  text-align: left;
}
.buyTicketSpanBoxone {
  font-family: "Ropa Sans";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  padding-left: 60px;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.select-dropdown {
  position: relative;
  /* background-color: #E6E6E6; */
  border-radius: 4px;
}

.select-dropdown select {
  font-size: 1.3rem;
  font-weight: 500 !important;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.miniboxoption {
  background-color: #ffffff;
  border: 2px solid #8e8e8e;
  border-radius: 5px;
  width: 66px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

ul {
  list-style: none;
  text-align: left;
  list-style-type: none;
  float: left;
}

li {
  padding-left: 2em;
  text-indent: -2em;
}
main {
  background-image: linear-gradient(to right, #1e130c, #9a8478) !important;
}
.cardLogo {
  display: flex;
}
.cardLogo img {
  width: 120px;
  padding: 10px 0px 0px 10px;
}
.inputDiv,
.inputClassic {
  background-color: #fff !important;
  border-radius: 12px !important;
}
.inputClassic {
  padding: 5px !important;
  width: 130px;
}
.divInputText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spanText {
  font-size: 16px;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: 500;
}
.spanCol {
  display: flex;
  flex-direction: column;
}
.spanAmount {
  font-size: 13px;
}
.spanAmount2 {
  font-size: 10px;
}
