.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #cbd5e0 !important;
  /* display: flex; */
  /* min-height: 100vh; */
  /* d-flex flex-column min-vh-100 */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-bj5vwl {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important ;
  flex-direction: row !important;
}
.css-k008qs {
  display: flex;
  justify-content: end !important;
  flex-direction: column !important;
}
.css-6sdaxy {
  width: 45px !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 12px !important;
}
.css-6sdaxy:hover {
  background-color: #964444 !important;
  transition-delay: 0.3s initial !important;
  fill: #fff !important;
}
.css-1oxhx2p {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important ;
}
.isCentered {
  display: flex;
  justify-content: center !important;
}
.container-modal {
  max-width: 460px !important;
  min-width: 320px !important;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close {
  display: flex;
  justify-content: right;
  align-items: center;
}
.css-1oxhx2p {
  top: -50px !important;
}
.isCentered {
  overflow: auto !important;
}
.social-div {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.social {
  width: 40px;
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root,
.css-1r9jet7,
.css-168noda {
  display: none !important;
}
.MuiDrawer-paper {
  top: 15% !important;
  background-color: transparent !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
.css-1l8j5k8 {
  border-right: none !important;
}
.css-9mgopn-MuiDivider-root {
  border-bottom: none !important;
}
.sideMenuIcon {
  width: 38px;
  height: 38px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  .css-2dum1v-MuiDrawer-docked .MuiDrawer-paper,
  .css-bpnhhg .MuiDrawer-paper {
    width: calc(120px + 1px) !important;
    margin-left: 20px !important;
  }
}
.css-h4y409-MuiList-root {
  padding-top: 0px !important;
}
@media (max-width: 420px) {
  .css-h4y409-MuiList-root {
    display: none !important;
  }
}
/* .mainFooter {
  position: relative;
} */
/* .lotteryPage {
  min-height: 100vh;
} */
.footer {
  /* position: fixed; */
  margin-top: auto;
}
.css-1fqi8hc-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #3971ad !important;
  border-radius: 15px !important;
}
.css-1ddsiuw-MuiListItemIcon-root {
  margin-right: unset !important;
}
.css-uxa1ks-MuiListItem-root {
  width: 70% !important;
}
